<form [formGroup]="formProducto" (ngSubmit)="guardarProducto()">

    <div class="cont-input">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre producto</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <div *ngIf="formProducto.get('nombre')?.invalid && formProducto.get('nombre')?.touched" class="text-danger alert-custom">
            El nombre es requerido
        </div>
    </div>

    <div class="cont-input">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Descripcion</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>

        </mat-form-field>
        @if(formProducto.get('descripcion')?.invalid &&
        formProducto.get('descripcion')?.errors &&
        (formProducto.get('descripcion')?.dirty || formProducto.get('descripcion')?.touched)){
        <div class="text-danger alert-custom">
            La descripción es requerida
        </div>
        }
    </div>

    <div class="col-md-6 cont-input">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="precio">
        </mat-form-field>
        @if(f['precio'].invalid && f['precio'].errors && (f['precio'].dirty || f['precio'].touched)){
        <div class="text-danger alert-custom">
            @if(f['precio'].errors['required']) {
            El precio es requerido

            }
            @if(f['precio'].errors['min']) {
            El precio debe ser mayor a 0

            }
        </div>
        }
    </div>
    
    <div>
        <input type="file" name="img-producto" id="img-producto" (change)="onFileSelected($event)">
        <img [src]="formProducto.get('imagen')?.value" alt="">
    </div>

    <input type="submit" value="Guardar">
</form>
<!-- <form [formGroup]="formProducto" (ngSubmit)="guardarProducto()" id="form-producto">
    <div class="cont-input">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre producto</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        @if(f['nombre'].invalid && f['nombre'].errors && (f['nombre'].dirty || f['nombre'].touched)){

        <div class="text-danger alert-custom">
            El nombre es requerido
        </div>
        }
    </div>

    <div class="cont-input">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Descripcion</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>

        </mat-form-field>
        @if(formProducto.get('descripcion')?.invalid &&
        formProducto.get('descripcion')?.errors &&
        (formProducto.get('descripcion')?.dirty || formProducto.get('descripcion')?.touched)){
        <div class="text-danger alert-custom">
            La descripción es requerida
        </div>
        }
    </div>
    <div class="row">
        <div class="col-md-6 cont-input">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Precio</mat-label>
                <input matInput formControlName="precio">
            </mat-form-field>
            @if(f['precio'].invalid && f['precio'].errors && (f['precio'].dirty || f['precio'].touched)){
            <div class="text-danger alert-custom">
                @if(f['precio'].errors['required']) {
                El precio es requerido

                }
                @if(f['precio'].errors['min']) {
                El precio debe ser mayor a 0

                }
            </div>
            }
        </div>
        <div class="col-md-6 cont-input">
            <input type="file" name="img-producto" id="img-producto" (change)="onFileSelected($event)">
            <img [src]="formProducto.get('imagen')?.value" alt="">
        </div>
    </div>

    <div class="text-center">
        <button mat-raised-button color="primary">Guardar</button>
    </div>

</form> -->